<% provide(:title, t('.title')) %>
<h1><%= t('.title') %></h1>

<% if current_user.admin? %>
  <div id="btn-new-user">
    <%= link_to I18n.t('users.index.create'), signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
