<tr>
  <td><%= page.title %></td>
  <td><%= page.body %></td>
  <td><%= link_to 'Visualizar', page,
      class: "btn btn-default" %></td>
  <td><%= link_to 'Editar', edit_page_path(page),
      class: "btn btn-default" %></td>
  <td><%= link_to 'Excluir', page, 
      class: "btn btn-danger",
    method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
</tr>
