<% provide(:title, @page.title) %>
<p>
  <strong><%= t('.title') %></strong>
  <%= @page.title %>
</p>

<p>
  <strong><%= t('.text') %></strong>
  <%=raw @page.body %>
</p>

<%= link_to t('.edit'), edit_page_path(@page), class: "btn btn-default btn-lg" %> 
