<tr>
  <td><%= document.title %></td>
  <td><%= document.author %></td>
  <td><%= limit_string(document.description) %></td>
  <td><%= document.published_year %></td>
  <td>
    <%= link_to t('documents.download'), document.file.url, class: "btn btn-success" %>
    <%= link_to t('documents.show_link'), document, class: "btn btn-default" %>
    <% if signed_in? %>
      <% if current_user.admin? %>
        <%= link_to t('documents.edit'), edit_document_path(document), 
          class: "btn btn-default" %>
        <%= link_to t('documents.destroy'), document, method: :delete, 
          class: "btn btn-danger",
          data: { confirm: t('dialogs.are_you_sure') } %>i
        <% end %>
    <% end %>
 </td>
</tr>
