<%= provide(:title, t('documents.title')) %>
<h1><%= t('documents.title')%></h1>

<% if signed_in? %>
  <div id="btn-new-document">
    <%= link_to t('documents.new'), new_document_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>

<%= will_paginate @documents, renderer: BootstrapPagination::Rails %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t 'documents.file'     %></th>
      <th><%= t 'documents.title_model'     %></th>
      <th><%= t 'documents.author'          %></th>
      <th><%= t 'documents.description'     %></th>
      <th><%= t 'documents.published_year'  %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @documents %>
  </tbody>
</table>

<%= will_paginate @documents, renderer: BootstrapPagination::Rails %>

<br>

