<%= provide(:title, @document.title) %>
<h1><%= @document.title %></h1>

<% if signed_in? %>
  <%= link_to t('documents.edit'), edit_document_path(@document), class: "btn btn-default btn-lg" %> 
<% end %>

<p>
  <strong><%= t('.title_model')  %></strong>
  <%= @document.title %>
</p>

<p>
  <strong><%= t('.author')  %></strong>
  <%= @document.author %>
</p>

<p>
  <strong><%= t('.description')  %></strong>
  <%= @document.description %>
</p>

<p>
  <strong><%= t('.keywords')  %></strong>
  <%= @document.keywords %>
</p>

<p>
  <strong><%= t('.published_in')  %></strong>
  <% year = @document.published_year %>
  <% year_absolute_value = (year<0) ? year*(-1) : year %>
  <%= year_absolute_value  %>
  <%= (year<1) ? 'a.C.' : nil %>
</p>

<p>
  <strong><%= t('.publisher')  %></strong>
  <%= @document.publisher %>
</p>

<% if signed_in? %>
<p>
  <strong><%= t('.is_private')  %></strong>
  <%= @document.is_private ? t('.affirmation') :  t('.negation')%>
</p>

<p>
  <strong><%= t('.last_contributor')  %></strong>
  <%= @document.user_id ? @document.user.name : nil %>
</p>

<p>
  <strong><%= t('.last_modification')  %></strong>
  <%=l(@document.updated_at, :format => :long) %>
</p>

<% end %>

<iframe src="/pdfjs/web/viewer.html?file=<%= @pdf_url %>" 
style="border: 0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>


