<%= provide(:title, @document.title) %>
<h1><%= @document.title %></h1>

<p>
  <strong><%= t('.title_model')  %></strong>
  <%= @document.title %>
</p>

<p>
  <strong><%= t('.author')  %></strong>
  <%= @document.author %>
</p>

<p>
  <strong><%= t('.description')  %></strong>
  <%= @document.description %>
</p>

<p>
  <strong><%= t('.keywords')  %></strong>
  <%= @document.keywords %>
</p>

<p>
  <strong><%= t('.published_in')  %></strong>
  <%= @document.published_year %>
</p>

<p>
  <strong><%= t('.publisher')  %></strong>
  <%= @document.publisher %>
</p>

<% if signed_in? %>
<p>
  <strong><%= t('.is_private')  %></strong>
  <%= @document.is_private ? t('.affirmation') :  t('.negation')%>
</p>

<p>
  <strong><%= t('.last_contributor')  %></strong>
  <%= @document.user_id ? @document.user.name : nil %>
</p>

<p>
  <strong><%= t('.last_modification')  %></strong>
  <%= @document.updated_at %>
</p>

<% end %>
<%= link_to t('documents.download'),  @document.file.url, class: "btn btn-default btn-lg" %>


<% if signed_in? %>
  <%= link_to t('documents.edit'), edit_document_path(@document), class: "btn btn-default btn-lg" %> 
<% end %>
