<header class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <%= link_to "atlântico português", root_path, id: "logo" %>
  <%= form_tag search_path, { method: "get", class: "navbar-form navbar-left" }  do  %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control" %>
    </div>
      <%= submit_tag t('home.btn-search'), name: t('home.btn-search'), class: "btn-search btn btn-default" %>
    <% end %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <%= render 'shared/navbar' %>
    </ul>
  </nav>
</div>
</header>
